***1. Explain the key features of python that make it popular choice for programming.***

--> **Readability and simplicity :** Python sintax is clean and straightforward.It is easy to learn and use for its simple language.

**Versatility:**  It's used in web development, deta analytics/science(pandas, NumPy),machine learning, automation, scripting etc.

**Large Ecosystem**: Python's standard library is huge, and its pakage manager, pip, gives access to over 400,000 libraries. This nature of the language saves time and effort.

**community and support**: Python has one of the largest, ost active developer communities.

That's why Python is everywhere - it's parctical , approachable , and powerful without being intimidating.

**2.Describe the role of predefined keywords in Python and provide examples of how they are used in a program**.

--> **Role of Predefined Keywords**

**Control Flow**: Keywords like ***if, else, elif, for, while,*** and break manage the execution flow of a program.

**Function and Class Definition:** Keywords such as ***def, class***, and ***return*** are used to define functions, classes, and their behavior.

**Exception Handling**: Keywords like*** try, except, finally,*** and raise handle errors and exceptions.

**Logical Operations:** Keywords such as and, or, and not perform logical operations.

**Data Management**: Keywords like ***True, False, None,*** in, and is help manage and evaluate data.

#if elif else conditional statements.

In [ ]:
age = 20
if age >= 18:
    print("You are an adult.")
elif age > 0:
    print("You are a minor.")
else:
    print("Invalid age.")

You are an adult.

for and break loops control

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

def and return - Function Definition

In [ ]:
def add_numbers(a, b):
    return a + b

result = add_numbers(5, 3)
print(result)

8

try, except - Exception Handling

In [1]:
try:
    number = int(input("Enter a number: "))
    print(10 / number)
except ZeroDivisionError:
    print("Cannot divide by zero!")

Enter a number: 7
1.4285714285714286

and, or, not - Logical Operations

In [2]:
x = 10
y = 5
if x > 0 and y < 10:
    print("Both conditions are true.")
if not x == y:
    print("x is not equal to y.")

Both conditions are true.
x is not equal to y.

import - Module Inclusion

In [ ]:
import math
print(math.sqrt(16))

**3.Compare and contrast mutable and immutable objects in Python with examples**

**Comparison between Mutable and Immutable Objects in Python**

In Python, objects are classified into two types based on their ability to be modified after creation: mutable and immutable objects.

***Mutable objects are those whose values can be changed or modified after the object is created.*** This means, when we make any changes to a mutable object, its memory address (identity) remains the same. Common examples of mutable objects in Python include lists, dictionaries, sets, and bytearrays. For instance, if we create a list a = [1, 2, 3] and modify an element like a[0] = 100, the list becomes [100, 2, 3], but the memory address of a remains unchanged.

On the other hand, i***mmutable objects are those whose values cannot be changed after creation. If we try to modify an immutable object***, Python creates a completely new object with a different memory address. Examples of immutable objects in Python include integers, floats, strings, tuples, frozensets, and booleans. For example, if we have a string s = "Hello" and we concatenate another string like s = s + " World", the new string "Hello World" is created at a different memory address.

In summary, mutable objects allow modification in-place without changing their identity, while immutable objects cannot be changed once created — any modification results in the creation of a new object. Mutable objects include lists, dictionaries, and sets, whereas immutable objects include integers, floats, strings, and tuples.

In [4]:
A = [3, 5, 7]
A[0]

3

In [6]:
A[0]=9
print(A) # example of mutability
         # hence, list is a mutable object

[9, 5, 7]

In [7]:
 c = "soumik"
 c[5]

'k'

In [9]:

c[5] = j # error occurs hence string is a immutable object

NameError: name 'j' is not defined

4.**Discuss the different types of operators in Python and provide examples of how they are used**
==>Arithmetic Operators:

In [10]:
a, b = 10, 3
print(a+b, a-b, a*b, a/b, a%b, a//b, a**b)

13 7 30 3.3333333333333335 1 3 1000

**2.comparision operators.**

In [11]:
x , y = 10 , 5
print(x == y, x != y, x > y, x < y, x >= y, x <= y)

False True True False True False

**3.Logical operators:**

In [12]:
x, y = True, False
print(x and y, x or y, not x)

False True False

**4.Assignment operators:**

In [13]:
x = 5
x += 3
x *= 2
print(x)

16

**5.Bitwise operators:**

In [14]:
x, y = 5, 3
print(x & y, x | y, x ^ y, ~x, x << 1, x >> 1)

1 7 6 -6 10 2

**6. Membership Operators**

In [15]:

lst = [1, 2, 3]
print(2 in lst, 5 not in lst)

True True

**7.Identity Operators**

In [ ]:
x = [1, 2]
y = x
z = [1, 2]
print(x is y, x is z, x is not z)

**5.Explain the concept of type casting in Python with examples**

Type Casting in Python refers to converting one data type into another. It helps in changing the type of a variable to perform operations between different data types.

There are two types of Type Casting:

1.** Implicit Type Casting**

→ Done automatically by Python.

In [17]:
a = 5        # int
b = 2.5      # float
c = a + b    # int + float → result will be float
print(c)
print(type(c))

7.5
<class 'float'>

2. Explicit typecasting:

Done manually by the programmer using functions like int(), float(), str(), etc

In [18]:

# float to int
a = 7.9
b = int(a)
print(b)

# int to string
p = 100
q = str(p)
print(q)

# string to int
s = '50'
t = int(s)
print(t)

7
100
50

**6.How do conditional statements work in Python? Illustrate with example**s

==>Conditional statements are used to make decisions in a Python program based on certain conditions. The conditions are checked using **if, elif (else if), and else statements.**

In [19]:
x = 3
if x % 2 == 0:
    print("x is even")
else:
    print("x is odd")

x is odd

In [20]:
marks = 85

if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 60:
    print("Grade C")
else:
    print("Fail")

Grade B

**7.Describe the different types of loops in Python and their use cases with examples.**

==> Loops in Python are used to execute a block of code repeatedly as long as a condition is true. Python mainly provides two types of loops:

**1. for loop**
Used to iterate over a sequence like list, tuple, string, or range.

In [21]:
# Print numbers from 1 to 5 using for loop
for i in range(1, 6):
    print(i)

1
2
3
4
5

2. while loop
Used when we want to repeat a block of code as long as a condition is true.

In [22]:
# Print numbers from 1 to 5 using while loop
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

3. Nested Loops
A loop inside another loop.

In [23]:
# Print a pattern using nested for loop
for i in range(1, 4):
    for j in range(1, i+1):
        print("*", end=" ")
    print()

*
* *
* * *